body{
    margin: 0%;
    background-image: url(/styles/img/fond_blog.png);
    width: 100%;
    height: 100vh;
    z-index: -1;
}
  
.title_user {
    display: flex;
    justify-content: center;
    font-family: 'Big Shoulders Display', cursive;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 10px;
    border: 1px solid #010101;
    border-radius: 50px;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    margin-top: 3vh;
}
.your_profil_style {
    font-family: 'Big Shoulders Display', cursive;
    font-size:  40px;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff,
                 0 0 50px #0ff;
}
.container_user_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 85%;
}
.container_info{
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 5vh;
}
.container_col {
    height: 70%;
    width: 85%;
    /* background-color: orange; */
    display: flex;
    margin: 3vh;
}
.col_left_user_info,
.col_mid_user_info,
.col_right_info_form_public {
    margin: 3vh;
    /* background-color: blue; */
    width: 85%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.login_form_col_left {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    margin: auto;
}
.login_form_col_left input[type="text"],
.login_form_col_left input[type="password"],
.login_form_col_left input[type=email] {
    width: 100%;
    margin: 8px 0;
    border: 1px solid #010101;
    border-radius: 50px;
    box-sizing: border-box;
    height: 5vh; 
    background-color: rgba(206,217,232,0.8);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.col_title_a_propos {
    font-family: 'Big Shoulders Display', cursive;
    background-color: #010101;
    color: cyan;
    padding: 15px;
    border-radius: 50px;
    font-size: 25px;
    text-shadow: 0 0 5px #fff,
                 0 0 50px #0ff;
}

.a_propos_details{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_col_mid {
    width: 80%;
    text-align: center;
    margin: auto;
}

.login_form_col_mid input[type="text"],
.login_form_col_mid input[type="password"]{
    width: 100%;
    margin: 8px 0;
    border: 1px solid #010101;
    border-radius: 50px;
    box-sizing: border-box;
    height: 5vh; 
    background-color: rgba(206,217,232,0.8);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.info-form {
    width: 80%;
    text-align: center;
    margin: auto;
}

.info-form input[type="text"] {
    width: 100%;
    margin: 8px 0;
    border: 1px solid #010101;
    border-radius: 50px;
    box-sizing: border-box;
    height: 5vh; 
    background-color: rgba(206,217,232,0.8);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

/* Mot de passe qui se cache */
label {
    display: flex;
    position: relative;
    align-items: center;
}
    
  label input.Change_Mot_de_passe_searchbar,
  label input.Confirm_change_Mot_de_passe_searchbar {
    font-size: 1em;
    background: transparent;
    color: #f9f9f9;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    width: 350;
    transition: all 1s;
  }
    
  label input.Change_Mot_de_passe_searchbar:focus,
  label input.Confirm_change_Mot_de_passe_searchbar:focus {
    border-color: cyan;
  }
    
  label .password-icon,
  label .password-icon2,
  label .password-icon3 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
    right: 20px;
  }
    
  label .password-icon .feather-eye-off,
  label .password-icon2 .feather-eye-off, 
  label .password-icon3 .feather-eye-off {
    display: none;
  }
    
  label .password-icon:hover,
  label .password-icon2:hover, 
  label .password-icon3:hover {
    cursor: pointer;
    color: cyan;
  }
    


    
.button_form_info {
    margin-top: 3vh;
}




.col_under_user_info {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 2vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}
.back_to_blog, .back_to_user_info, .modify_user_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;  
    width: 50%;
}
.button_to_blog, .button_to_user_info, .button_to_user_modif {
    position: relative;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow:hidden;
    transition: 0.3s;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 50px #0ff;
}
  
.button_to_blog:hover, .button_to_user_info:hover, .button_to_user_modif:hover{
    background: cyan;
    box-shadow:  0 0 5px #fff,
                 0 0 50px #0ff;
    transition-delay: 1s;
}
a {
    text-decoration: none;
}


/*Pour les téléphones*/
@media only screen and (max-width: 600px){
  body{
    margin: 0%;
    background-image: url(/styles/img/fond_blog.png);
     width: 100%;
    z-index: -1; 
    height: auto;
    display: flex;
    flex-direction: column;
  }
    
  .title_user{
    font-size: 20px;
  }
     
  .your_profil_style{
    font-size: 20px;
    text-align: center
  } 

  .container_user_profile {
    margin-bottom: 5vh;
  }

  .container_info{
    width: 90vw;
    height: auto;
    margin-top: 10vh;
  }
  
  .container_col{
    width: 100%;
    font-size: 90px;
    display: flex;
    flex-direction: column;
  } 
    
  .col_left_user_info {
    width: auto;
  }

  .login_form_col_mid{
    font-size: 20px;
  }
 
  .col_right_user_info {
    width: auto;
  }

  .col_right_user_info button {
    align-items: center;
    height: auto;
    font-size: 15px;
  }

  .col_title_a_propos {
     margin: 0;
  }

  .a_propos_details {
    margin-bottom: auto;
  }

  .col_right_info_form_public {
    /* background-color: blue; */
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-bottom: 2vh;
  }


  .info-form {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .info-form input[type="text"] {
    width: 100%;
    height: 5vh;
    margin: 8px 0px;
    font-size: 20px;
  }



  .col_under_user_info {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .back_to_blog,
  .back_to_user_public_profile,
  .modify_user_profile {
    width: auto;
  }

  .button_to_blog,
  .button_to_user_info,
  .button_to_user_modif {
    font-size: 15px;
  }
  
}
  
/*Pour les tablette*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body{
    margin: 0%;
    background-image: url(/styles/img/fond_blog.png);
    width: 100%;
    z-index: -1; 
    height: auto;
    display: flex;
    flex-direction: column;
  }
      
  .title_user{
    font-size: 20px;
  }
       
  .your_profil_style{
    font-size: 20px;
    text-align: center
  } 
  
  .container_user_profile {
    margin-bottom: 5vh;
  }
  
  .container_info{
    width: 90vw;
    height: auto;
    margin-top: 10vh;
  }
    
  .container_col{
    width: 100%;
    font-size: 90px;
    display: flex;
    flex-direction: column;
  } 
      
  .col_left_user_info {
    width: auto;
  }
  
  .col_mid_user_info {
    width: auto;
  }

  .login_form_col_mid{
    font-size: 20px;
    width: auto;
  }
   
  .col_right_user_info {
    width: 100%;
  }
  
  .col_right_user_info button {
    align-items: center;
    height: auto;
    font-size: 15px;
  }
  
  .col_title_a_propos {
     margin: 0;
  }
  
  .a_propos_details {
    margin-bottom: auto;
  }
  
  .col_right_info_form_public {
    /* background-color: blue; */
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-bottom: 2vh;
  }
  
  .info-form {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  .info-form input[type="text"] {
    width: 100%;
    height: 5vh;
    margin: 8px 0px;
    font-size: 20px;
  }

  .col_under_user_info {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  
  .back_to_blog,
  .back_to_user_public_profile,
  .modify_user_profile {
    width: auto;
  }
  
  .button_to_blog,
  .button_to_user_info,
  .button_to_user_modif {
    font-size: 15px;
  }
    
}