<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/css/error.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Big Shoulders Display' rel='stylesheet'>
    <title>Error 404</title>
</head>
<body>
    <div class="Error_message_container">
            <div class="Error_Number">
                <h1 class="error_number_write"> 400 <br> BAD REQUEST </br></h1>
            </div>
        <div class="Gif_placement">
            <img src="../img/Gif_Error_Page.gif">
        </div>
    </div>
</body>
</html>
